@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
    font-family: 'Roboto Mono';
}

a {
    text-decoration: underline;
    &:hover {
        color: darkblue;
    }
}

/* .expenses-array {
    div:nth-child(2n) {
        &.expense-item {
            background-color: lightsteelblue;
        }
    }
} */

/* .categories-array {
    div:nth-child(2n) {
        &.category {
            background-color: lightsteelblue;
        }
    }
} */

.arrow-button-styles {
    background-color: #ddd;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.table {
    border-collapse: collapse; 
}

.expense-item,
.category-item {
    &:hover {
        background-color: rgb(226 232 240);
    }
}
