@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
    font-family: 'Roboto Mono';
}

a {
    text-decoration: underline;
    &:hover {
        color: darkblue;
    }
}

.expenses-array {
    div:nth-child(2n) {
        &.expense-item {
            background-color: lightsteelblue;
        }
    }
}

.categories-array {
    div:nth-child(2n) {
        &.category {
            background-color: lightsteelblue;
        }
    }
}
